.form-group {
  margin: 10px 0;
}

.form-group input::placeholder {
  color: grey;
}

.form-group select {
  color: grey;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}